@media screen and (min-width: 600px) {
  .showcase {
    background-image: url(../img/yellow.jpg);
    width: 100%;
    height: 900px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: white;
  }
  .header-2:hover {
    text-decoration: underline;
  }
  .image-1 {
    position: absolute;
    left: 1000px;
    top: 195px;
  }
  .image-2 {
    position: absolute;
    left: 1150px;
    top: 572px;
  }
  .main-text {
    position: absolute;
    width: 345px;
    height: 102px;
    left: 215px;
    top: 276px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #0d0d0d;
  }
  .text {
    position: absolute;
    width: 475px;
    height: 185px;
    left: 215px;
    top: 408px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #0d0d0d;
  }
  .logo2 {
    position: absolute;
    width: 127px;
    height: 127px;
    left: 900px;
    top: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .button1 {
    text-align: center;
    position: absolute;
    width: 201px;
    height: 52px;
    left: 215px;
    top: 534px;

    background: #f63d3d;
    box-shadow: 0px 0px 20px rgba(246, 61, 61, 0.7);
    border-radius: 110px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
    text-decoration: none;
  }
  .button2 {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    width: 201px;
    height: 52px;
    left: 440px;
    top: 534px;

    border: 2px solid #f63d3d;
    border-radius: 110px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #f63d3d;
    text-decoration: none;
  }
  .text2 {
    position: absolute;
    width: 858px;
    height: 56px;
    left: 600px;
    top: 1200px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }
  .parent {
    position: relative;
  }
  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .background-1 {
    position: relative;
  }
  .icon-1 {
    position: absolute;
    left: 280px;
  }
  .background-2 {
    position: relative;
  }
  .icon-2 {
    position: absolute;
    left: 912px;
  }
  .background-3 {
    position: relative;
  }
  .icon-3 {
    position: absolute;
    left: 1540px;
  }

  .red-text-1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #f63d3d;
    position: absolute;
    width: 195px;
    height: 26.53px;
    left: 14%;
  }

  .under-red-text-1 {
    position: absolute;
    width: 183px;
    height: 64px;
    left: 12%;
    top: 1430px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #0d0d0d;
  }
  .red-text-2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #f63d3d;
    position: absolute;
    width: 206px;
    height: 27px;
    left: 47%;
  }
  .under-red-text-2 {
    position: absolute;
    width: 183px;
    height: 64px;
    left: 45%;
    top: 1450px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #0d0d0d;
  }
  .red-text-3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #f63d3d;
    position: absolute;
    width: 206px;
    height: 27px;
    left: 79%;
  }
  .under-red-text-3 {
    position: absolute;
    width: 183px;
    height: 64px;
    left: 78%;
    top: 1430px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #0d0d0d;
  }
}
@media screen and (max-width: 599px) {
  .image-1 {
    display: none;
  }
  .image-2 {
    display: none;
  }
  .logo2 {
    display: none;
  }
  .button1 {
    text-align: center;
    position: absolute;
    background: #f63d3d;
    box-shadow: 0px 0px 20px rgba(246, 61, 61, 0.7);
    border-radius: 110px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
    text-decoration: none;
  }
  .button2 {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    left: 100px;
    border: 2px solid #f63d3d;
    border-radius: 110px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #f63d3d;
    text-decoration: none;
  }
  .text2 {
    display: none;
  }
  .background-1 {
    display: none;
  }
  .background-2 {
    display: none;
  }
  .background-3 {
    display: none;
  }
  .red-text-1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #f63d3d;
    position: absolute;
  }

  .under-red-text-1 {
    position: absolute;
    top: 1050px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #0d0d0d;
  }
  .red-text-2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #f63d3d;
    position: absolute;
    top: 1100px;
  }
  .under-red-text-2 {
    position: absolute;
    top: 1130px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #0d0d0d;
  }
  .red-text-3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #f63d3d;
    position: absolute;
    top: 1200px;
  }
  .under-red-text-3 {
    position: absolute;
    top: 1230px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #0d0d0d;
  }
  .showcase {
    background-color: #ffc632;
  }
}
