.button {
  text-align: right;
}
.container {
  background-color: rgb(247, 247, 247);
  display: grid;
  grid-template-columns: 22% 22% 22%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}
.decrease-rate-advantages {
  background-color: #ff8f1c;
  width: 100%;
  height: 100%;
}
.percentage-of-apartaments {
  background-color: #007fc8;
  color: azure;
  width: 100%;
  height: 100%;
}
.mortgage {
  background-color: #ffdb00;
  width: 100%;
  height: 319px;
}
