button {
  width: 100px;
  height: 100px;
  background-color: rgb(215, 215, 230);
  color: rgb(41, 41, 43);
  text-align: center;
}
button:hover {
  background-color: rgb(184, 184, 199);
}
.div {
  margin-left: 50px;
  margin-top: 30px;
  width: 1000px;
  height: 1000px;
  background: no-repeat center;
}
.container {
  display: flex;
}
.div::first-letter {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(119, 119, 122);
}
